<div class="page-container">
    <div class="d-flex flex-wrap">
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/lipbalm/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../lip-balm">Browse LipBalms</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/mosturizer/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../moisturizer">Moisturizers</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/hair-care/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../hair-care">Browse Hair Care</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/cleanser/a (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../cleanser">Browse cleansers</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/sunscreen/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../sunscreen">Sunscreen</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/toner/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../toner">Browse Toner</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/products/1 (1).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../brushes">Browse Brushes</button>
            </div>
        </div>
        <div class="card w-200">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="prod-img">
                    <img src="../../assets/images/lipsticks/1 (8).jpg" width="150" height="150">
                </div>
            <button class="btn btn-primary mt-8" routerLink="../lipsticks">Browse Lipsticks</button>
            </div>
        </div>
    </div>
</div>