<div class="d-flex align-items-center justify-content-between h-100">
    <span class="icon ic-fire ic-white icon-28 ml-16"></span>
        <div class="header-input d-flex flex-grow-1 mr-20">
            <input type="text" placeholder="Search" name="search" class="input-field d-flex flex-grow-1">
            <span class="ic-search icon icon-dark-gray icon-xxs"></span>
        </div>
        <div class="d-flex align-items-center user-profile mr-16">
            <img src="../../assets/images/user.svg" class="mx-20" />
        </div>
</div>