<div>
    <div class="leftnav-item" routerLink="cleanser" routerLinkActive="active">
        <p>Cleanser</p>
    </div>
    <div class="leftnav-item" routerLink="hair-care" routerLinkActive="active">
        <p>Hair Care</p>
    </div>
    <div class="leftnav-item" routerLink="lip-balm" routerLinkActive="active">
        <p>Lip Balm</p>
    </div>
    <div class="leftnav-item" routerLink="toner" routerLinkActive="active">
        <p>Toner</p>
    </div>
    <div class="leftnav-item" routerLink="brushes" routerLinkActive="active">
        <p>Brushes</p>
    </div>
    <div class="leftnav-item" routerLink="lipsticks" routerLinkActive="active">
        <p>Lipsticks</p>
    </div>
    <div class="leftnav-item" routerLink="sunscreen" routerLinkActive="active">
        <p>Sunscreen</p>
    </div>
    <div class="leftnav-item" routerLink="moisturizer" routerLinkActive="active">
        <p>Moisturizer</p>
    </div>
</div>